---
import BaseLayout from "../layouts/BaseLayout.astro";
const posts = await Astro.glob("../projects/*.md");
import ProjectItem from "../components/ProjectItem.astro";
import OpenSource from "../components/OpenSource.astro";
---

<BaseLayout title="Projects">
  <h1 class="text-5xl font-bold text-center text-[#29fc9b]">Projects</h1>
  <div class="flex items-center justify-center gap-8">
    <div class="p-5 grid md:grid-cols-2 gap-[5.5rem]">
      {
        posts.map((post) => (
          <ProjectItem
            link={post.frontmatter.link}
            title={post.frontmatter.title}
            labels={post.frontmatter.labels}
            summary={post.compiledContent()}
            language={post.frontmatter.language}
            color={post.frontmatter.color}
          />
        ))
      }
    </div>
  </div>
  <h1 class="mt-2 text-5xl font-bold text-center text-[#F65C78]">
    Open Source Contributions
  </h1>
  <OpenSource />
  <h3 class="text-2xl font-bold text-center text-[#29fc9b]">
    GitHub Stats
  </h3>
  <div class="flex flex-wrap items-center justify-between gap-5">
    <img
      src="https://raw.githubusercontent.com/siddhsuresh/github-stats/master/generated/languages.svg"
      alt="GitHub Stats Languages"
    />
    <img
      src="https://raw.githubusercontent.com/siddhsuresh/github-stats/c1b05257da4d6c5fdd84d00971190efb5343888f/generated/overview.svg"
      alt="GitHub Stats Overview"
    />
  </div>
</BaseLayout>
